<section class="rc-HeroBanner" data-e2e="front-page-banner">
    <div class="rc-HeroBanner__container">
        <div class="rc-HeroBanner__text-container">
            <h1>Your Course to Success</h1>
            <h2>Build skills with courses, certificates, and degrees online from world-class universities and companies</h2><button id="banner_cta_button" data-track="true" data-track-app="front_page" data-track-page="front_page_story" data-track-action="click"
                data-track-component="banner_cta" data-e2e="enroll-button" class="rc-HeroBanner__join-button" data-elementtiming="frontpage.banner.cta" onclick="rmDisplay()" raktrig="true">Join for Free</button></div>
        <div class="rc-HeroBanner__background-gradient"></div>
        <div class="rc-HeroBanner__background-image" style="background-image:url('../../assets/image/main-dish.png')"></div>
    </div>
</section>