<section class="rc-SocialProofContainer">
    <div class="rc-SocialProofContainer__text">
        <h3 class="rc-SocialProofContainer__title">From the Coursera community</h3>
        <h4 class="rc-SocialProofContainer__subtitle">60+ million people are already learning on Coursera</h4>
    </div>
    <div class="rc-SocialProofContainer__carousel">
        <div class="rc-Carousel stepped">
            <div class="slick-slider slick-initialized" dir="ltr">
                <div class="slick-list">
                    <div class="slick-track" style="width: 5016px; opacity: 1; transform: translate3d(-1368px, 0px, 0px);">
                        <div data-index="-3" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 456px;">
                            <div>
                                <div class="rc-SocialProofItem">
                                    <div class="rc-SocialProofItem__container">
                                        <div class="rc-SocialProofItem__image"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/kara.png?auto=format%2Ccompress&amp;dpr=1&amp;w=270&amp;h=" srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/kara.png?auto=format%2Ccompress&amp;dpr=2&amp;w=270&amp;h= 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/kara.png?auto=format%2Ccompress&amp;dpr=3&amp;w=270&amp;h= 3x"
                                                alt="Kara A." style="max-width: 270px;"></div>
                                        <h3 class="rc-SocialProofItem__name">Kara A.</h3>
                                        <h4 class="rc-SocialProofItem__title">iMBA Graduate, University of Illinois Gies College of Business</h4>
                                        <h4 class="rc-SocialProofItem__subtitle">United States</h4>
                                        <div class="rc-SocialProofItem__separator"></div>
                                        <p class="rc-SocialProofItem__body"><span>It’s a really big deal to offer an online MBA that’s a <strong>real MBA at a price that’s achievable</strong>. This program is totally disrupting higher education.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="-2" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 456px;">
                            <div>
                                <div class="rc-SocialProofItem">
                                    <div class="rc-SocialProofItem__container">
                                        <div class="rc-SocialProofItem__image"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/mirela-decorative.png?auto=format%2Ccompress&amp;dpr=1&amp;w=270&amp;h="
                                                srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/mirela-decorative.png?auto=format%2Ccompress&amp;dpr=2&amp;w=270&amp;h= 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/mirela-decorative.png?auto=format%2Ccompress&amp;dpr=3&amp;w=270&amp;h= 3x"
                                                alt="Mirela I." style="max-width: 270px;"></div>
                                        <h3 class="rc-SocialProofItem__name">Mirela I.</h3>
                                        <h4 class="rc-SocialProofItem__title">IBM Data Science Professional Certificate Alumna</h4>
                                        <h4 class="rc-SocialProofItem__subtitle">Romania</h4>
                                        <div class="rc-SocialProofItem__separator"></div>
                                        <p class="rc-SocialProofItem__body"><span><strong>Recruiters saw my Professional Certificate</strong> on my LinkedIn profile. During the interview, they told me <strong>they were impressed with the skills I learned</strong>. I got the job!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 456px;"></div>
                        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 456px;">
                            <div>
                                <div class="rc-SocialProofItem">
                                    <div class="rc-SocialProofItem__container">
                                        <div class="rc-SocialProofItem__image"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/julio.png?auto=format%2Ccompress&amp;dpr=1&amp;w=270&amp;h=" srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/julio.png?auto=format%2Ccompress&amp;dpr=2&amp;w=270&amp;h= 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/julio.png?auto=format%2Ccompress&amp;dpr=3&amp;w=270&amp;h= 3x"
                                                alt="Julio R." style="max-width: 270px;"></div>
                                        <h3 class="rc-SocialProofItem__name">Julio R.</h3>
                                        <h4 class="rc-SocialProofItem__title">Web Developer</h4>
                                        <h4 class="rc-SocialProofItem__subtitle">Chile</h4>
                                        <div class="rc-SocialProofItem__separator"></div>
                                        <p class="rc-SocialProofItem__body"><span>I started at stage zero. With Coursera I was able to start learning online and eventually build up enough knowledge and skills to <strong>transition into a well-paying career</strong>.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="1" class="slick-slide slick-active" tabindex="-1" aria-hidden="false" style="outline: none; width: 456px;">
                            <div>
                                <div class="rc-SocialProofItem">
                                    <div class="rc-SocialProofItem__container">
                                        <div class="rc-SocialProofItem__image"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/kara.png?auto=format%2Ccompress&amp;dpr=1&amp;w=270&amp;h=" srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/kara.png?auto=format%2Ccompress&amp;dpr=2&amp;w=270&amp;h= 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/kara.png?auto=format%2Ccompress&amp;dpr=3&amp;w=270&amp;h= 3x"
                                                alt="Kara A." style="max-width: 270px;"></div>
                                        <h3 class="rc-SocialProofItem__name">Kara A.</h3>
                                        <h4 class="rc-SocialProofItem__title">iMBA Graduate, University of Illinois Gies College of Business</h4>
                                        <h4 class="rc-SocialProofItem__subtitle">United States</h4>
                                        <div class="rc-SocialProofItem__separator"></div>
                                        <p class="rc-SocialProofItem__body"><span>It’s a really big deal to offer an online MBA that’s a <strong>real MBA at a price that’s achievable</strong>. This program is totally disrupting higher education.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="2" class="slick-slide slick-active" tabindex="-1" aria-hidden="false" style="outline: none; width: 456px;">
                            <div>
                                <div class="rc-SocialProofItem">
                                    <div class="rc-SocialProofItem__container">
                                        <div class="rc-SocialProofItem__image"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/mirela-decorative.png?auto=format%2Ccompress&amp;dpr=1&amp;w=270&amp;h="
                                                srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/mirela-decorative.png?auto=format%2Ccompress&amp;dpr=2&amp;w=270&amp;h= 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/mirela-decorative.png?auto=format%2Ccompress&amp;dpr=3&amp;w=270&amp;h= 3x"
                                                alt="Mirela I." style="max-width: 270px;"></div>
                                        <h3 class="rc-SocialProofItem__name">Mirela I.</h3>
                                        <h4 class="rc-SocialProofItem__title">IBM Data Science Professional Certificate Alumna</h4>
                                        <h4 class="rc-SocialProofItem__subtitle">Romania</h4>
                                        <div class="rc-SocialProofItem__separator"></div>
                                        <p class="rc-SocialProofItem__body"><span><strong>Recruiters saw my Professional Certificate</strong> on my LinkedIn profile. During the interview, they told me <strong>they were impressed with the skills I learned</strong>. I got the job!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 456px;"></div>
                        <div data-index="4" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 456px;">
                            <div>
                                <div class="rc-SocialProofItem">
                                    <div class="rc-SocialProofItem__container">
                                        <div class="rc-SocialProofItem__image"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/julio.png?auto=format%2Ccompress&amp;dpr=1&amp;w=270&amp;h=" srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/julio.png?auto=format%2Ccompress&amp;dpr=2&amp;w=270&amp;h= 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/julio.png?auto=format%2Ccompress&amp;dpr=3&amp;w=270&amp;h= 3x"
                                                alt="Julio R." style="max-width: 270px;"></div>
                                        <h3 class="rc-SocialProofItem__name">Julio R.</h3>
                                        <h4 class="rc-SocialProofItem__title">Web Developer</h4>
                                        <h4 class="rc-SocialProofItem__subtitle">Chile</h4>
                                        <div class="rc-SocialProofItem__separator"></div>
                                        <p class="rc-SocialProofItem__body"><span>I started at stage zero. With Coursera I was able to start learning online and eventually build up enough knowledge and skills to <strong>transition into a well-paying career</strong>.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="5" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 456px;">
                            <div>
                                <div class="rc-SocialProofItem">
                                    <div class="rc-SocialProofItem__container">
                                        <div class="rc-SocialProofItem__image"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/kara.png?auto=format%2Ccompress&amp;dpr=1&amp;w=270&amp;h=" srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/kara.png?auto=format%2Ccompress&amp;dpr=2&amp;w=270&amp;h= 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/kara.png?auto=format%2Ccompress&amp;dpr=3&amp;w=270&amp;h= 3x"
                                                alt="Kara A." style="max-width: 270px;"></div>
                                        <h3 class="rc-SocialProofItem__name">Kara A.</h3>
                                        <h4 class="rc-SocialProofItem__title">iMBA Graduate, University of Illinois Gies College of Business</h4>
                                        <h4 class="rc-SocialProofItem__subtitle">United States</h4>
                                        <div class="rc-SocialProofItem__separator"></div>
                                        <p class="rc-SocialProofItem__body"><span>It’s a really big deal to offer an online MBA that’s a <strong>real MBA at a price that’s achievable</strong>. This program is totally disrupting higher education.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="6" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 456px;">
                            <div>
                                <div class="rc-SocialProofItem">
                                    <div class="rc-SocialProofItem__container">
                                        <div class="rc-SocialProofItem__image"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/mirela-decorative.png?auto=format%2Ccompress&amp;dpr=1&amp;w=270&amp;h="
                                                srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/mirela-decorative.png?auto=format%2Ccompress&amp;dpr=2&amp;w=270&amp;h= 2x, https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/social-proof/mirela-decorative.png?auto=format%2Ccompress&amp;dpr=3&amp;w=270&amp;h= 3x"
                                                alt="Mirela I." style="max-width: 270px;"></div>
                                        <h3 class="rc-SocialProofItem__name">Mirela I.</h3>
                                        <h4 class="rc-SocialProofItem__title">IBM Data Science Professional Certificate Alumna</h4>
                                        <h4 class="rc-SocialProofItem__subtitle">Romania</h4>
                                        <div class="rc-SocialProofItem__separator"></div>
                                        <p class="rc-SocialProofItem__body"><span><strong>Recruiters saw my Professional Certificate</strong> on my LinkedIn profile. During the interview, they told me <strong>they were impressed with the skills I learned</strong>. I got the job!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="7" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 456px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>